@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: 'poppins';
    src: url(fonts/Poppins-Thin.ttf);
    font-weight: 300;
}


* {
    margin: 0%;
    padding: 0%;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffd100;
    --secondary-color: #333533;
    --faint-text-color: #626262;
    --third-color: #fffbee;
    --faint-border-color: rgb(206, 206, 206);
}

h1 {
    font-weight: 400;
    font-size: 3em;
}

h2 {
    font-weight: 400;
    font-size: 2rem;
}

h3 {
    font-weight: 400;
    font-size: 1rem;
}

h4 {
    font-weight: 400;
    font-size: 0.8rem;
    color: rgb(145, 145, 145);
}

p {
    font-weight: 400;
    font-size: 0.8rem;
    color: var(--secondary-color);
}

a {
    color: var(--secondary-color);
    text-decoration: none;

}

a:hover {
    cursor: pointer;
    color: var(--primary-color);
}

h1,
h2,
h3 {
    color: #454745;
}


ul {
    list-style: none;
}

.container {
    margin-inline: auto;
    padding: 4rem 8rem;
    gap: 2rem;
}


.flex {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

button {
    color: white;
    background-color: var(--primary-color);
    text-align: center;
    border: none;
    border-radius: 6px;
    height: 35px;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

button:hover {
    color: white;
    background-color: #ffde4d;
    text-align: center;
    border: none;
    border-radius: 6px;
    height: 35px;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}

.nav-items {
    width: 40%;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 0.5px;
    transition: 1s;
    transition-timing-function: ease;
    outline: none;
}


.navbar .nav-logo h2,
.nav-account h3 {
    color: white;
}

.navbar {
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    color: var(--secondary-color);
    width: 100%;
    position: fixed;
    background-color: white;
    top: 0;
    z-index: 10;
    margin-inline: auto;
    padding-inline: 6rem;
    
}

.nav-logo img {
    width: 150px;
}

.navbar .menu-ham {
    width: 25px;
    display: none;
}

.navbar .flex {
    justify-content: space-between;
    align-items: center;
}


.main {
    position: relative;
    top: 10vh;
    z-index: 1;
    margin: auto;
    height: 100%;
}

.hero-sec {
    justify-content: center;
    height: 100%;
    background-color: var(--third-color);
}

.hero-sec img {
    width: 70%;
    height: 100%;
}


.nav-account {
    gap: 15px;
}

.nav-account img {
    width: 30px;
    transition: 0.5s;

}

.nav-account img:hover {
    transform: scalex(1.1) scaleY(1.1);

}






.sec2 {
    flex-direction: column;
}


/* swiper css below */

.slider-container {
    width: 100%;
    padding: 2rem 0 !important;
    /* background-color: grey; */
}




.slide-content {
    /* margin: 0 30px; */
    height: 30vh;
    overflow: hidden;
}

.card .img-box {
    height: 200px;
}

.card .img-box img {
    height: 100%;
    border-radius: 8px 8px 0 0;

}




.card .text h3 {
    text-align: center;
    padding: 20px 0;
}

.swiper-button-next {
    right: 0 !important;

}

.swiper-button-prev {
    left: 0 !important;

}






.sec2 .card {
    flex-direction: column;
    width: 200px !important;
    height: 180px;
    /* box-shadow: 1px 1px 10px rgb(165, 165, 165); */
    border: 0.5px solid var(--secondary-color);
    border-radius: 6px;
    background-image: radial-gradient(circle, white 10%, rgb(255, 204, 0) 90%);
    transition: all 2s ease-in-out;
}



.card button {
    width: 100%;
    color: white;
    background-color: var(--secondary-color);
    border-radius: 0 0 6px 6px;

}

.card button:hover {
    background-color: #525252;

}

.card .upper {
    height: 85%;
    border-radius: 0.5rem 0.5rem 0 0;
    justify-content: center;
}



.card .upper img {
    width: 70%;
    object-fit: contain;
    transition: all 1s ease;
}



.sec2 .card:hover img {
    transform: scale(1.1);
}

.sec3 .card .lower {
    /* border-radius: 0 0 6px 6px;
    background-color: var(--primary-color);
    align-items: center;
    justify-content: center;
    height: 15%; */
    height: 15%;
}

.sec3 .card .lower button {
    width: 100%;
    height: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: var(--primary-color);
    color: #fff;
}

.sec3 .card .lower button:hover {
    background-color: #ffe46a;
}


.sec3 .card .lower h3 {
    color: white;
}

.sec3 {
    flex-direction: column;
}

.sec3 .upper-gar {
    display: flex;
    align-items: end;
    justify-content: center;
}

.sec3-title {
    color: white;

}

.sec3 .card {
    height: 350px;
    width: 300px;
    border-radius: 6px;
    transition: all 0.3s ease;
    overflow: hidden;
    margin: 0 20px;
}

.sec3 .card-sec {
    justify-content: center;
}

.sec3 .upper {
    background-image: url(/images/cc.jpg);
    background-size: cover;
    background-position: center;

}

.sec3 .upper-gar {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgba(255, 255, 255, 0), #333533);
}


/* sec4 */

.sec4 {
    justify-content: space-between;
    height: 100%;
    background-color: var(--third-color);
}

.sec4.flex {
    flex-direction: column;
    justify-content: start;
}

.sec4 .right {
    width: 50%;
    justify-content: start;
}



.sec4 .left img {
    width: 70%;
    object-fit: contain;
}

.sec4 .left{
    justify-content: center;
}

.sec4-lower {
    justify-content: space-between;

}

.sec4 .words {
    padding-left: 20px;
}

.sec4 .words.flex {
    flex-direction: column;
    justify-content: flex-start;
}

.sec4 .words p {
    margin-top: 10px;
    color: grey;
}

.sec4 .right .text img {
    width: 80px;
}

.sec4 .right.flex {
    flex-direction: column;
}

.sec4 .text.flex {
    justify-content: start;

}

.sec4 .text {
    margin-bottom: 20px;

}

.footer {
    color: white;
    background-color: var(--secondary-color);


}


.footer .flex {
    flex-direction: column;
    justify-content: space-between;
}


.footer .upper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* .footer .upper-right {
    width: 100%;
    flex-direction: row;
} */

/* .adv {
    width: 30%;

} */

.footer .adv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.5rem;
}

.adv img {
    width: 160px;
    align-self: flex-start;
}

.footer .social-div {
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1.5rem;
}



.social-div img {
    width: 20px;
    object-fit: contain;
    align-self: center;
}


.footudiv {
    width: 30%;

}

.footer h2,
.footer p {
    color: white;
    /* margin: 5px 0; */
    transform: 1s;
}

.footer .desk-sec {
    flex-direction: column;
    justify-content: start;
}

.footer a {
    font-size: 0.8rem;
    color: white;
    transition: 0.5s;
    transition-timing-function: ease;
}

.footer a:hover {
    font-size: 0.8rem;
    color: var(--primary-color);

}

.footer .lap-sec {
    flex-direction: column;
    justify-content: start;
}

.footer h3 {
    margin-bottom: 10px;
    color: white;
    transition: 2s;
    transition-timing-function: ease;
}

.footer .lower {
    display: flex;
    justify-content: center;
}

/* Content creation page */

.cc-main {
    height: 100vh;
}

.cc-main.flex {
    flex-direction: column;
    justify-content: start;
}

.cc-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 350px;
    width: 250px;
    margin-top: 40px;
}

/* .cc-card .upper .img {
    height: 150px;
    width: 100%;
} */

.cc-body.flex {
    justify-content: space-between;
}

.cc-card .img {
    background-image: url(/images/asus\ lap\ png.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    height: 150px;
}

.cc-card .upper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 95%;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cc-body button {
    width: 250px;
    height: 40px;
    /* background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px; */

}

.cc-body .cc-card .upper img {
    width: 150px;
}

.cc-body .cc-card-button h3 {
    color: white;
}

/* Register Page */


.reg-form-sec {
    justify-content: space-around;
}



.reg-form {
    width: 50%;
    padding: 2rem 1rem;
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}

.reg-form form {
    flex-direction: column;
    justify-content: space-between;

}

/* .reg-form button {
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1em;
} */

.reg-form h2 {
    text-align: center;
}

.reg-form .input {
    flex-direction: column;
    margin: 2rem 0;
    
}

.reg-form .input h3 {
    color: grey;
    font-weight: 400;

}

.reg-form .input span {
    color: red;
    font-size: 1em;
}

.reg-form input {
    width: 100%;
    height: 2rem;
    border: 1px solid lightgrey;
    padding: 0.5rem 1rem;
    outline: none;
    margin: 1rem 0;
}

.already-reg {
    border: 1px solid grey;
    border-radius: 10px;
    height: 25vh;
    padding: 2rem 1rem;
    justify-content: space-between;
}

.already-reg.flex {
    flex-direction: column;
}

.already-reg h3 {
    text-align: center;
}

.already-reg button {
    width: 100%;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    font-size: 1em;
}

/* User page */

.user {
    height: 60vh;
    justify-content: start;
}


.account-nav.flex {
    flex-direction: column;

}

.account-nav {
    height: 100%;
    border-right: 1px solid rgb(188, 188, 188);
    width: 15%;
    justify-content: start;
}

.account-nav .para {
    margin-top: 25px;
}

.account-nav p {
    color: var(--secondary-color);
    margin-top: 20px;
}


/* Cart */

.cart-sec {
    height: 700px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.black-div {
    width: 90%;
    background-color: var(--secondary-color);
    height: 6rem;
    border-radius: 10px;
    padding: 2rem;
    color: white;
    justify-content: start;
    gap: 2rem;
    align-items: center;
    font-size: 1.5rem;
}

.cart-main {
    height: 100%;
    width: 100%;
    justify-content: space-between;
    margin-top: 30px;
}



.cart-main .left {
    width: 60%;
    height: 100%;

}

.cart-main .left table {
    width: 100%;
    margin-bottom: 35px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: 1.4;
}

.cart-main button{
    height: fit-content;
}

.cart-main .product-thumbnail img {
    width: 50px;
}

.cart-main table th {
    padding: 15px 10px;
    color: var(--secondary-color);
    font-weight: 400;
    text-align: left;

}

.cart-main form {
    height: 100%;
}

.cart-main table tr {
    border-bottom: 1px solid rgb(226, 226, 226);


}

.cart-main table td {

    padding: 15px 10px;
}

.cart-main table .product-price {
    color: grey;
}

.cart-main .qty-cart {
    width: 80px;
    height: 25px;

}

.cart-main .qty-cart input {
    width: 40%;
    border-top: 1px solid rgb(204, 204, 204);
    border-bottom: 1px solid rgb(204, 204, 204);
    border-left: none;
    border-right: none;
}

.cart-main .qty-cart button {
    width: 30%;
    border: 1px solid rgb(212, 212, 212);
    background-color: white;
    height: 25px;
}

.cart-main .qty-cart .qty-button {
    border: 1px solid rgb(208, 208, 208);
    background-color: white;
    color: black;
    border-radius: 0;
}

.cart-main .right {
    /* width: 40%; */
    justify-content: end;
}


.cart-main .right .card {
    /* height: 60%; */
    width: 100%;
    flex-direction: column;
    justify-content: start;
    gap: 2rem;
}

.cart-main .right .card h2 {
    text-align: center;
    font-weight: 500;
    background-color: var(--primary-color);
    border-radius: 6px 6px 0 0;
    color: white;
}

.cart-main .right .card table {
    color: var(--secondary-color);
}



.cart-main .right .card td {
    text-align: right;
    font-size: 0.8rem;
    color: grey;
    /* border-top: 1px solid rgb(211, 211, 211); */
}

.cart-main .right .card .cart-card-total td {

    color: black;
    font-weight: 500;
    font-size: 1rem;
}


/* checkout sec */

.checkout-sec {
    flex-direction: column;
    justify-content: start;
    align-items: center;
}



.checkout-sec .checkout-main{
    width: 60%;
    justify-content: start;
    flex-direction: column;
}

.checkout-main form input {
    width: 100%;
    height: 3rem;
    border: 1px solid lightgrey;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    outline: none;
}

.checkout-main .bill-form {
    width: 100%;
}

.checkout-main form {
    margin-top: 2rem;
}

.required-field-star {
    color: red;
    font: 1rem;
}

.checkout-main .bill-form label {
    font-size: 1rem;
    color: grey;
}

.checkout-main .payment-method {
    flex-direction: column;
    justify-content: start;
    margin: 2rem 0;
    color: rgb(219, 219, 219);

}

.checkout-main .payment-method p {
    color: grey;
}

.checkout-main .payment-method h3 {
    color: var(--faint-text-color);

}

.checkout-main .payment-method img {
    width: 60px;

}

.checkout-main .payment-method .paytm {
    justify-content: start;
    margin-top: 20px;
    align-items: end;
}


.checkout-main .payment-method .paytm .left {
    border-right: 1px solid var(--faint-border-color);
    padding: 0 10px;
    /* line-height: 10px; */
    flex-direction: column;
    align-items: end;
    justify-content: start;




}



.checkout-main .payment-method .paytm .right {
    flex-direction: column;
    /* line-height: 10px; */
    padding: 0 10px;
    height: 100%;
    justify-content: start;
}


.checkout-main .order-btn button {
    width: 100%;
    justify-content: center;
}